#heading{
    color: skyblue;
    text-align: center;
    background-color: slateblue;
}

#countryweather{
    background-color:tomato;
    color: yellowgreen;
}

#countywise{
    text-align: center;
}

#weatherdata{
    background-color: gold;
    color: whitesmoke;
    text-align: center;
}